<h5>Lista de usuário</h5>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% for(let {nome, telefone, email, sexo, id} of data) {%>
            <tr>
                <td>
                    <%=nome%>
                </td>
                <td>
                    <%=telefone%>
                </td>
                <td>
                    <%=email%>
                </td>
                <td>
                    <%=sexo%>
                </td>
                <td>
                    <a class="editar" name="/editar_usuario?<%=id%>"><i class="material-icons">edit</i></a>
                    <a class="deletar" name="/deletar_usuario?<%=id%>"><i class="material-icons">delete</i></a>
                    <a class="adicionar"><i class="material-icons">add</i></a>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>

<!-- Modal Structure -->

</div>

<script>
    // Editar usuário
    $('.editar').click(function () {
        // console.log($(this).attr("name"))
        $.ajax({
            url: $(this).attr("name"),
            method: 'get',
            success: function (data) {
                $('#conteudo').html(data)
            }
        })
    })
    // Deletar usuário
    $('.deletar').click(function () {
        $.ajax({
            url: $(this).attr("name"),
            method: 'delete',
            success: function (data) {
                console.log('Dados excluído', data)
                $.ajax({
                    url: '/listar_usuario',
                    method: 'get',
                    success: function (data) {
                        $('#conteudo').html(data)
                    }
                })
            }
        })
    })

    $('.adicionar').click(function () {
        $.ajax({
            url: '/cadastrar_usuario',
            method: 'get',
            success: function (data) {
                $('#conteudo').html(data)
            }
        })
    })
</script>